body
{
	Background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;

}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.rectangle
{
	width: 960px;
	margin: 20px;
}
.square
{
	width: 50%;
	float: left;
}
#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
#zegar
{
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #00FFFF;
	float: left;
	color: black;
	text-align: center;
}

.tile1:hover
{
	background-color: #00BFFF;
	
}

.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	color: black;
	text-align: center;
}
.tile2:hover
{
	background-color: #555555;
	
}
.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}
.tile3:hover
{
	background-color: #82b637;
	
}
.tile4
{
	margin: 10px;
	width: 480px;
	height: 142px;
	background-color: #ee5a32;
	text-align: center;
}
.tile5
{
	margin: 15px;
	width: 480px;
	height: 142px;
	background-color: #666666;
	text-align: justify;
	Padding: 60px;
}
.yt
{
	margin: 20px;
	width: 230px;
	height: 142px;
	background-color: #DC143C;
	float: left;
	text-align: center;
}
.yt:hover
{
	background-color: #CB032B;
	
}
.kontakt
{
	margin: 20px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	text-align: center;
	float: left;
}
.kontakt:hover
{
	background-color: #555555;
	
}
.tt
{
	margin: 20px;
	width: 230px;
	height: 142px;
	background-color: #2F4F4F;
	float: left;
	text-align: center;
}
.tt:hover
{
	background-color: black;
	
}
.HC
{
	margin: 20px;
	width: 230px;
	height: 142px;
	background-color: #00CED1;
	color: Black;
	float: left;
	text-align: center;
}
.HC:hover
{
	background-color: #00BDC0;
}
a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}
a.link
{
	color: #ffffff;
	text-decoration: none;
}